* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: gilroy;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title h2 {
  font-family: Dancing script;
  font-size: 30px;
  font-weight: 700;
  margin-left: -10px;
  margin-bottom: -10px;
}

.logo {
  height: 100x;
  width: 100px;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 50%;
}

a {
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(226, 56, 13);
  cursor: pointer;
}

li:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.274);
}

ul > i {
  font-size: 22px;
  cursor: pointer;
  padding: 4px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.192);
}

ul > i:hover {
  color: #ee5324f5;
  background-color: rgba(0, 0, 0, 0.24);
}

.section {
  height: 230px;
  width: 100%;
  background-color: aquamarine;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.507);
  position: relative;
}

.section .sectionImage {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  filter: blur(3);
}

.search-section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.search-section input {
  width: 400px;
  padding: 14px 20px;
  border: none;
  border-radius: 10px 10px 10px 0;
  margin-right: 10px;
}

.search-section input::placeholder {
  color: rgb(119, 104, 104);
  font-weight: 12px;
}

.search-section input:focus {
  outline: none;
  box-shadow: 4px 4px 5px rgba(226, 56, 13, 0.363);
}

.search-section button {
  padding: 13px 20px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  background-color: #ee5324f5;
  cursor: pointer;
  transition: all ease 0.1s;
}

.search-section button:hover {
  color: white;
  background-color: rgba(85, 81, 81, 0.562);
  border: 2px solid white;
}

.search-section button span {
  margin-left: 20px;
  margin-top: -8px;
}

.header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.main-head {
  text-align: center;
}

.main-head h1 {
  font-family: Dancing script;
  font-weight: 700;
}

.main-head h2 {
  margin: 10px 0 40px 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.432);
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px;
}

.main {
  height: 100%;
  width: 100%;
  background-color: #f1fffffa;
  position: absolute;
  padding: 15px;
}

.card {
  height: 280px;
  width: 270px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.308);
  margin: 14px;
  position: relative;
  background-color: #f5f5f3e3;
  overflow: hidden;
}

.card img {
  height: 130px;
  width: 270px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.card-in-box {
  height: 45px;
  width: 300px;
  background: linear-gradient(transparent, rgb(37, 36, 36));
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: -15%;
  align-items: center;
  opacity: 0;
  transition: all ease 0.2s;
}

.card:hover .card-in-box {
  top: 0;
  opacity: 1;
}

.card-in {
  padding: 6px;
}

.card-in h2 {
  width: 300px;
  font-size: 20px;
}

.card-in h4 {
  color: rgb(88, 84, 84);
  font-size: 15px;
  margin: 4px 0;
}

.card-in .goodRating {
  border: none;
  padding: 4px 8px;
  background-color: rgb(24, 153, 24);
  border-radius: 8px;
  font-weight: 700;
  margin-bottom: 8px;
}

.card-in .badRating {
  border: none;
  padding: 4px 8px;
  background-color: #dd2424;
  border-radius: 8px;
  font-weight: 700;
  margin-bottom: 8px;
}

.card-price-order {
  display: flex;
  justify-content: space-between;
}

.card-price-order h5 {
  position: absolute;
  bottom: 5%;
}

.card-price-order > button {
  border: 2px dotted rgba(0, 0, 0, 0.493);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.205);
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: all ease 0.1s;
  position: absolute;
  bottom: 3%;
  right: 5%;
}

.card-price-order > button:hover {
  border: 2px dotted rgb(0, 0, 0);
  background-color: rgba(200, 238, 32, 0.247);
}

.card-in-box > i {
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(167, 163, 163, 0.24);
  color: #c40000;
  font-size: 20px;
  position: absolute;
  margin: 5px;
}